li{
    text-decoration: black;
    font-style: oblique;
    
}
body{
    width:600;
    margin:auto;
    background-color:grey;
}
a{
    text-decoration: none;
}
li{
    font-style: italic;
}
article{
    font-size:25px;
}
#caption{
    text-transform: uppercase;
}
header{
     position: fixed;
    width:100%;
    text-align: center;
    margin:0%;
    background-color:pink;
    text-transform: uppercase;
   
}